<div class="center">
<h1>Ask Daphne</h1>
<p>There is a very mean dog in our house.</p>
<p> Thank goodness I can usually scare it away.</p>
<p>I have expected some questions for me.</p>
<p>You can download a file here:
<a href = "/files/test.txt">Possible Answers</a>


<form method="get" action="/sentDaphne">
      <input type="submit" value="Caring for Your Dog">
    </form>

</form>

<form method="post" action="mailto:belknapj@oregonstate.edu">
<input type="submit" value="Send Email">
</form>

<video width="320" height="240" controls>
  <source src="/images/Daphne1.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
<video width="320" height="240" controls>
  <source src="/images/Daphne2.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
<video width="320" height="240" controls>
  <source src="/images/Daphne3.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
<video width="320" height="240" controls>
  <source src="/images/Daphne4.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
<video width="320" height="240" controls>
  <source src="/images/Daphne5.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
<video width="320" height="240" controls>
  <source src="/images/Daphne6.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
<video width="320" height="240" controls>
  <source src="/images/Daphne7.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
<p>Text, videos and images on this site copyright 2019, Rebecca Belknap. Used by permission.</p>
</div>