<div class="center">
<p>It's about time I got my own web site.</p>


<div class="center" style="max-width:500px">

  <img class="daphnePictures" src="/images/Daphne1.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne2.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne3.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne4.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne5.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne6.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne7.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne8.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne9.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne10.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne11.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne12.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne13.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne14.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne15.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne16.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne17.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne18.jpg" style="width:100%">
  <img class="daphnePictures" src="/images/Daphne19.jpg" style="width:100%">
  
</div>

  
<script>

/*The following code is based on examples from *https://www.w3schools.com/w3css/w3css_slideshow.asp*/
var myIndex = 0;
theDaphneShow();

function theDaphneShow() {
  var i;
  var x = document.getElementsByClassName("daphnePictures");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(theDaphneShow, 4000); // Change image every 4 seconds
}

</script
</div>