<!doctype html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
	
<title>Daphne's Story</title>
<link rel="stylesheet" href="/css/styles.css">

	
	
</head>
<body>

<div class="center">

  <button class = "button" type="button" onclick="location.href='/'">Home</button>
  <button class = "button" type="button" onclick="location.href='/Skills'">Skills Page</button>
  <button class = "button" type="button" onclick="location.href='/Memoir'">Memoir Page</button>
  <button class = "button" type="button" onclick="location.href='/AskDaphne'">Ask Daphne Page</button>
  <button class = "button" type="button" onclick="location.href='https://www.akc.org/dog-breeds/cavalier-king-charles-spaniel/'">AKC Breed Information</button>







</div>
{	
	{{{body}}}

</body>
</html>