
<img src = "/images/Daphne1.jpg" alt= "Daphne comes home" width = "50">
<div class = "overflowScroll">
<p align = "left">
I was born on October ?, 2018. I just can't remember the day for sure.  I keep hearing "Cavalier King Charles Spaniel," 
so that might be my name. They tell me that I come from Missouri, but honestly, I don't remember much about that time. One morning began a very scary time. 
All of the sudden everything was different. Where was my mother? Where were my brothers and sisters? And the noises!  
I was used to barking, and lawnmowers, the sound of drinking and chewing, and the voices of the first people 
I ever saw, but that was nothing compared to the next phase of my life. </p>

<p align="left">When I first met my new mom, it was in a little room. Besides my new mom, there was another 
person. She looked a little bit like my new mom. Also, there was a much shorter person. My new mom picked me
up and she talked a while with the other taller person. She put me down and watched me explore the room.
Then she took out a box and started talking to it. Then she aimed the box at me and there was a flash of light.
</p>

<p align = "left">
After that she talked some more, then she picked me up, and cuddled with me until we arrived at my new home.
And thus began what I call The Great Exploration.  I had never seen anything like it.  
There were dragons on the street at night, and huge noisy birds in the sky. I couldn't decide what to try to eat next.
I have since learned that some of the items were kleenexes, toilet paper, sticks, mulch, grass, roofing tiles, random plastic parts,
and dirt. I used to really like making all of the toilet paper run off of the wheel, but I am too sophisticated for that now. </p>

<p align="left">My new mom was really into going outside. We went outside every time I started doing something new. I was always trying
to do something new. For some reason she got very loud and shouted "Outside!" when I started doing something new
in the kitchen. But I soon learned the rules for that.</p>

<p align = "left">I have a very busy life. I went to puppy school, and have made many trips to doggy day camp, where I made friends,
especially with the people. I made some other dog friends. Max, Finn, and Penny are my closest friends. We go for hikes in the woods.
I had a very exciting time a few weeks ago. I went on my first campout! I discovered that it is very hot close to a campfire.
I tried to play with Lucy, but I think she felt she was too mature. The people were very impressed with my tug of war
and catching skills.</p>


<p align = "left">In the morning, I take my mom for a walk and make sure I know what other dogs and other creatures have been on our street.
It is important to be thorough and take your time tracking scent trails. I would like to chase birds, but she will not let me. 
When my dad leaves in the morning, and comes home in the evening, I jump up and give him lots of kisses. He used to be 
a little better source of food. Something happened, and it's getting harder to get people food.  We usually go for a walk in the
evening, too. But it's getting very hot outside, and we don't stay out very long. I like to drink water from the
sprinklers and from rain puddles. I like to stand in the shower after a walk, but it takes a long time to get my ears dry. I make the people
pay for this by drying myself off in their bed.</p>

<p align = "left">In the evening, I wake up and we play tug of war and catch the ball. I keep at it because I know my mom has a short attention span.
She is doing better at communicating with me. I can jump hurdles, go through tunnels, and I humor her by going in between a set of poles. But I mostly want to catch the ball.
She is very good at getting it for me when it gets stuck under the furniture.</p>

<p align = "left">All in all, it's a pretty good life. I do wish the people wouldn't get so angry when I get on top of tables. They should be impressed
with how high I can climb!
</p>

<p>
Text, photos and video on this site are copyright 2019 by Rebecca Belknap. Used by permission.
</p>
</div>