<img src = "/images/Daphne7.jpg" alt= "Top of the tunnel at the dog park" width = "250">
<div class="center">
<h1>My Skills</h1>
<p align="left">
My mom can be very confusing. She tries to teach me a lot of new words. I try hard. Usually I just do the last
thing I was doing and hope that will work. Here are some of the words:<p>
<ul class="listItem"> 
<li>Bring it</li>
<li> High Five</li>
<li> Drop It</li>
<li> Sit</li>
<li>Stay</li>
<li>Lie</li>
<li>Outside time</li>
<li>Belly rub</li>
<li>Jump</li>
<li>Speak</li>
<li>Spin</li>
<p align="left">My favorite toys:</p>
<ol class = "leftalign">
<li>Ball</li>
<li>Rock</li>
<li>Squeaky</li>
<li>Peek a boo Teddy Bear...   Oops, I chewed off his nose and he is gone now.</li>
<li>Little Bit. Unfortunately Little Bit is with Mr. Bear now. I conquered them both.</li>
</ol>
<p align= "left">Text, videos and images on this site copyright 2019, Rebecca Belknap. Used by permission.
</p>
</div>